@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=DM+Sans:opsz,wght@9..40,500&family=Poppins:wght@500&family=Roboto&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav{
  display: flex;
  position: sticky;
  top: 0px;
  background: #FFFDF8;;
  width: 100vw;
  justify-content: space-between;
  padding: 15px;
  padding-inline: 30px;
}
#nav__icons{
  display: flex;
  align-items: center;
}

#nav__icons > img{
  height: 49px;
}

#nav__icons > p{
  color: #373737;
  font-size: 25px;
  font-weight: 300;
}

#vertical-line{
  height: 20px;
  border-left: 1px solid rgba(0, 0, 0, 0.61);
  padding-inline: 10px;
}

#nav__links{
  display: flex;
  align-items: center;
}

#nav__links > ul{
  display: flex;
  list-style-type: none;
}
#nav__links > ul >li> a{
  text-decoration: none;
  color: #373737;
  font-size: 22px;
  font-weight: 300;
  padding-inline: 15px;
}
#nav__links > button{
  border-radius: 23.5px;
  background: #184655;
  box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.25);
  color: #FFF;
  font-size: 30px;
  padding: 0px 8px;
  border: none;
}

/* hero-section */

#hero{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius:50px ;
  background-image: url("./Assets/Hero-bg.png");
  width: 95vw;
  height: 742px;
  margin: auto;
  margin-top: 30px;
}

.hero__body>h1{
  color: #184655;
  font-size: 45px;
  font-weight: 700;
}

#search-bar{
  display: flex;
  height: 78.93px;
  width: 546px;
  border-radius: 19px;
  background: #FFF;
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 30px;
}
#search-bar>div{
  display: flex;
  flex: 2;
  align-items: center;
}
#search-bar>div>img{
  padding: 20px;
}
#search-bar>div>input{
  border: none;
  color: #727272;
  font-size: 22px;
  width: 100%;
}
#search-bar>button{
  flex: 1;
  background: #184655;
  border: none;
  color: #FFF;
  font-size: 22px;
  font-weight: 700;
}

#hashtags > ul{
  display: flex;
  list-style: none;
}
#hashtags > ul>li{
  color: #53748C;
  font-size: 21px;
  padding-right: 45px;
  padding-left:16px ;
  font-weight: 400;
}

/* Blog */

#blog{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius:40px ;
  width: 95vw;
  height: 512px;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.10);
  background-image: url("./Assets/Hero-bg.png");
}

#blog > img{
  border-radius: 15px;
  padding: 15px;
  width: 50%;
}

#blog__body{
  padding: 14px;
  width: 50%;
}
#blog__body > h1{
  color: #404040;
  font-size: 42px;
  font-weight: 500;
}
#blog__body > div{
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}
#blog__body > div > p{
  color: rgba(111, 110, 110, 0.84);
  font-size: 25px;
  font-weight: 500;
}

#blog__body > p{
  color: #464343;
  font-size: 28px;
  font-weight: 400;
}

/* card_blog */

#blog__cards{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 431.532px;
  border-radius: 20px;
  background: linear-gradient(117deg, rgba(249, 247, 247, 0.10) 19.16%, rgba(249, 247, 247, 0.40) 80.19%);
  box-shadow: 0px 2px 20px -1px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  margin-top: 28px;
}

#card_body{
  padding: 15px;
  
}

#card_body >h1{
  color: #4A4848;
  font-size: 25px;
  font-weight: 500;
  margin-top: 10px;
}
#card_body > div{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
#card_body > div >p{
  color: rgba(111, 110, 110, 0.84);
  font-size: 18px;
  font-weight: 500;
}
#card_body > p{
  color: #464343;
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}

#card_body > a{
  color: #213949;
  display: block;
  font-size: 20px;
  font-weight: 300;
  text-align: right;
  text-decoration: none;
  font-weight: 200;
  margin-top: 10px;
}

#text{
  width: 524.656px;
  height: 164.016px;
  margin-left: 100px;
  margin-bottom: 100px;
}

#text > p{
  color: #000;
  font-size: 40px;
  font-weight: 300;
}
#text > h1{
  color: #000;
  font-size: 57px;
  font-weight: 500;
}
#para{
  font-weight: 400;
}

#text > button{
  width: 251px;
  height: 49px;
  border-radius: 23.5px;
  background: linear-gradient(92deg, #2C56AA 14.14%, #3BB08B 84.43%);
  box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.25);
  margin-top: 60px;
  overflow: hidden;
  border: none;
  color: #FFF;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}